/.idea/
/resized_test.png
/spiral.png
/test.csv
/test_div.csv
/results.old
/afm_data
/new_test_data
/new_test_data/*
/hs_20mg_data
/hs_20mg_data/*
/bernoulli_utils.py
/psnr-calc.py
/bw_hs20mg_data
/bw_hs20mg_data/*
/bw_tgx_data
/bw_tgx_data/*
/tgx_data
/tgx_data/*
/planelevel_bw_hs20mg_data/
