/.idea/
/bash-scripts/
/MEAS_PUB/
/ckpts
/results
*__pycache__

/*_data

make_figs.py
scratch.py
debugging.py
*.DS_Store

tinyimagenet-imgrec.sh
localtinyimagenet-imgrec.sh
extratinyimagenet-imgrec.sh

train-valid-l2-loss.png
